body {
  background: linear-gradient(#e4e2e9 0%, #5e7496 40%, #3f5f90 60%, #0d101c 80%);
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.profileImage {
  width: 200px;
}
.profile h2 {
  color: black;
}
.profile h4 {
  color: black;
  transform: translateY(-10px);
}

.BIODATA {
  background: linear-gradient(#ffffff 0%, #ffffffdb 40%, #3f5f90aa 70%, #0d101c00 100%);
  padding-bottom: 150px;
  padding-top: 55px;
}
.footer {
  background-color: white;
  padding-bottom: 20px;
}
.sosmed a {
  color: black;
  font-size: 30px;
}
.spasi {
  padding-top: 10px;
}
